body {
  font-family: 'Roboto', sans-serif;
  background-color: #E9E6E2;
  margin: 0;
  padding: 0;
  text-align: center;
  color: #4A7729;
}

h1, h2 {
  color: #4A7729;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #BE4D00;
  color: white;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #FF7F32;
}

button.selected {
  background-color: #FF7F32;
}

button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

#landingPage, #questionPage, #resultsPage {
  display: block;
  margin: 20px;
}

.hidden {
  display: none;
}

.navigation {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

#backButton {
  background-color: #777;
}

#nextButton {
  background-color: #4A7729;
}

ul {
  list-style-type: none;
  padding: 0;
}

#restartButton {
  background-color: #BE4D00;
  padding: 10px 20px;
  font-size: 16px;
  color: white;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

#restartButton:hover {
  background-color: #FF7F32;
}

/* Adjust the spacing for the landing page */
#landingPage h1 {
  margin-bottom: 10px; /* Reduces space between title and subtitle */
}

#landingPage p {
  margin-top: 0; /* Removes extra space above the subtitle */
  margin-bottom: 20px; /* Adds a little spacing below the subtitle */
}
