/* General Styles */
body {
    font-family: 'Roboto', sans-serif;
    background-color: #E9E6E2;
    color: #333;
    text-align: center;
    margin: 0;
    padding: 0;
}

h1, h2 {
    color: #4A7729;
}

button {
    padding: 15px 30px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 20px; /* Set corner rounding to 20px */
}

.green-btn {
    background-color: #BE4D00;
    color: white;
    transition: background-color 0.3s;
}

.green-btn:hover {
    background-color: #9e3e00;
}

.grey-btn {
    background-color: #C4C4C4;
    color: white;
}

button:active {
    transform: scale(0.98);
}

.hidden {
    display: none;
}

/* Landing page */
#landingPage {
    padding: 20px;
}

#landingPage h1 {
    font-size: 2.5em;
}

#landingPage p {
    font-size: 1.2em;
    margin-bottom: 20px;
}

/* Question Page */
#questionPage {
    padding: 20px;
    margin-top: 50px;
}

#questionContainer h2 {
    font-size: 1.8em;
    margin-bottom: 20px;
}

button.answer-btn {
    background-color: #C4C4C4;
    margin: 10px;
    width: 200px;
    font-size: 16px;
    padding: 10px;
    border-radius: 20px; /* Set corner rounding to 20px */
    transition: background-color 0.3s;
}

button.answer-btn.selected {
    background-color: #BE4D00;
    color: white;
}

.navigation-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.navigation-buttons button {
    width: 120px;
    font-size: 16px;
}

/* Results Page */
#resultsPage {
    padding: 20px;
    margin-top: 50px;
}

#resultsPage h2 {
    font-size: 2em;
}

#resultsPage p {
    font-size: 1.2em;
    margin-bottom: 20px;
}

#restartButton {
    background-color: #4A7729;
    border-radius: 20px; /* Set corner rounding to 20px */
}
